body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: var(--primary-text-color);
    margin: 0;

}
.link {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
section{
    padding-top: 94px;
    padding-bottom: 94px
    
}
.work-list {
    display: flex;
    text-align: center;
    gap: 30px;
    background-color: #ffffff;
  
}

.work-list:nth-child(2n) {
    background-color: #F5F4FA;
}