.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;


}
&>.container {
    display: flex;
    align-items: baseline;


}
&__logo {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
    color: #FFFFFF;
}
&-cursor {
    cursor: none;
    margin-right: 0;

}
.address {
    flex-grow: 1;
}

/*.address__list {
    list-style: none;
}*/


&__item {
 margin-top: 9px;
}
&__link {

  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
 letter-spacing: 0.03em;
}
&__link:hover,
&__link:focus {
 cursor: pointer;
 color: var(--accent-color);

}
&__link--color {
 color: #FFFFFF;
}
.join {
 margin-left: 70px;
}
.join-soc {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
     gap: 10px;

 }
.join-action-form {
     margin-left: 70px;
}
.join-action {
     display: flex;
     margin-top: 20px;
 }
.join-title,
.join-action-title
  {
 display: flex;
 font-family: 'Roboto';
 color: #ffffff;
 margin-top: 0;
 margin-bottom: 0px;
}
.join-action-btn {
  display: flex;
    justify-content: center;
    align-items: center;

    background: #2196F3;
    color: #ffffff;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 50px;


    margin-left: 12px;

    font-weight: 700;

    line-height: 1.88;
    letter-spacing: 0.06em;
      
}
 .action-icon-btn {
  fill: #FFFFFF;
  margin-left: 10px;

}
.join-action-input {
    /* padding-top: 15px;*/
  /*padding-bottom: 15px;*/
  padding-left: 16px;
  outline: none;
  width: 358px;
  min-height: 50px;
  color: wheat;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: transparent;
  justify-content: center;
}
