.clients__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;

}

.clients__brand {
    width: 170px;
    height: 92px;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.clients__brand:hover,
.clients__brand:focus {
    border: 1px solid #2196F3;
}

.clients__brand:hover .clients__icon {
    fill: #2196F3;
}

.clients__icon {
    fill: #AFB1B8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}