header {
    /*position: absolute;
    width: 100%; для распростронения background hero не сеуцмя header*/
    border-bottom: 1px solid #ECECEC;
}

.header>.container {
    display: flex;
    align-items: center;
    /*выравнивание на один уровень*/


}

&__navigation {
    display: flex;
    align-self: center;

}

&-container {
    padding-top: 24px;
    padding-bottom: 24px;
}

&__navigation>li:not(:last-child) {
    margin-right: 50px;



}

&__connect {
    margin-left: auto;
    align-items: center;
}

/*.navigation .logo{
    color: #000000;
}*/
 &__link{
    color: var(--title-text-color);
}

&:hover,
&:focus {
    color: var(--accent-color);

}


&__link {
    /*color: var(--title-text-color);*/
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}




&__current {
    color: var(--accent-color);
}

&:hover,
&:focus {
    color: var(--accent-color);
}

&__current {
    position: relative;
}

&__current::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -32px;
    background-color: #2196F3;
    border-radius: 2px;
}


/*.header__contact:hover .header__icon {
    fill: #2196F3;
}*/

&__contact {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__icon {
    margin-right: 10px;
    fill: #757575
}
&__contact:hover &{
fill: #2196F3;
}